@model X.PagedList.IPagedList<MetaOMS.ViewModels.OrderVM>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc;
@using X.PagedList;
@{
    ViewData["Title"] = "AllOrders-";
}

<div class="col-10 offset-1 text-center">
    <h2 class="text-center mt-5 mb-3">List of All Orders</h2>
    <div class="search-form mb-2">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="ti-search"></i>
                </div>
            </div>
            <input id="myCustomSearch" type="text" class="form-control" placeholder="Type here to search...">
        </div>
    </div>
    <div class="table-responsive">
        <table class="table" id="example">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>Customer</th>
                    <th>Contact</th>
                    <th>Ordered products</th>
                    <th>Product quantity</th>
                    <th>Total price</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td width="5%" class="align-middle">@Model[i].SerialNo</td>
                        <td width="5%" class="align-middle">@Model[i].CustomerVMName</td>
                        <td width="5%" class="align-middle">@Model[i].CustomerVMContactNo</td>
                        <td width="15%">
                            <table class="d-flex justify-content-center table-borderless">
                                @foreach (var item in Model[i].productInventory_VM.productInventoryVMs)
                                {
                                    <tr>
                                        <td>@item.NameVM</td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td width="5%">
                            <table class="d-flex justify-content-center table-borderless">
                                @foreach (var item in Model[i].productInventory_VM.productInventoryVMs)
                                {
                                    <tr>
                                        <td>@item.QuantityVM</td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td class="align-middle">@Model[i].TotalPriceVM</td>
                        @if (Model[i].StringStatusVM == "To-be delivered")
                        {
                            <td class="font-weight-bold align-middle text-info" id="status">@Model[i].StringStatusVM</td>
                        }
                        else if (Model[i].StringStatusVM == "Cancelled")
                        {
                            <td class="font-weight-bold align-middle text-danger" id="status">@Model[i].StringStatusVM</td>
                        }
                        else if (Model[i].StringStatusVM == "Delivered")
                        {
                            <td class="font-weight-bold align-middle text-success" id="status">@Model[i].StringStatusVM</td>
                        }
                        else if (Model[i].StringStatusVM == "Pending")
                        {
                            <td class="font-weight-bold align-middle text-dark" id="status">@Model[i].StringStatusVM</td>
                        }
                        else
                        {
                            <td>
                                <table class="d-flex justify-content-center table-borderless">
                                    @foreach (var item in Model[i].productInventory_VM.productInventoryVMs)
                                    {
                                        <tr>
                                            @if (item.StringStatusVM == "To-be Returned")
                                            {
                                                <td class="font-weight-bold text-primary w">@item.StringStatusVM</td>
                                            }
                                            else if (item.StringStatusVM == "To-be Refunded")
                                            {
                                                <td class="font-weight-bold text-info">@item.StringStatusVM</td>
                                            }
                                            else if (item.StringStatusVM == "To-be Returned & Refunded")
                                            {
                                                <td class="font-weight-bold text-purple">@item.StringStatusVM</td>
                                            }
                                            else if (item.StringStatusVM == "Returned")
                                            {
                                                <td class="font-weight-bold text-primary">@item.StringStatusVM</td>
                                            }
                                            else if (item.StringStatusVM == "Refunded")
                                            {
                                                <td class="font-weight-bold text-info">@item.StringStatusVM</td>
                                            }
                                            else if (item.StringStatusVM == "Returned & Refunded")
                                            {
                                                <td class="font-weight-bold text-success">@item.StringStatusVM</td>
                                            }
                                            else if (item.StringStatusVM == "Delivered")
                                            {
                                                <td class="font-weight-bold text-success">@item.StringStatusVM</td>
                                            }
                                        </tr>
                                    }
                                </table>
                            </td>
                        }
                        <td width="15%" class="align-middle">
                            <a onclick="showInPopup('@Url.Action("AllOrderIndividualInfo","Admin",new {id=Model[i].HiddenPKVMId },Context.Request.Scheme)','Details')"
                               class="btn btn-orange text-white"><i class="mdi mdi-information-outline"></i></a>
                            <a class="btn btn-cyan text-white"asp-controller="Admin"asp-action="ViewOrderReceipt"asp-route-id="@Model[i].HiddenPKVMId">
                                <i class="mdi mdi-receipt"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("AllOrders", new { page = page }),
    new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
    {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
    })
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                "dom": 'lrtip',
                "info": false,
                "lengthChange": false,
                "paging": false,
            });
            var table = $('#example').DataTable();
            $('#myCustomSearch').on('keyup', function () {
                table.search($(this).val()).draw();
            });
        });
    </script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

} 