@model List<MetaOMS.ViewModels.DeliveryVM>
@{
    ViewData["Title"] = "PendingReturnRefundIndividualInfo-";
    Layout = null;
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <ul class="list-group">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li class="list-group-item active font-weight-bold border-right"><i class="mdi mdi-account-circle"></i>&nbsp;Customer Info</li>
                    <li class="list-group-item"><h6 class="font-weight-bold">Name:</h6>@Model[i].CustomerVMName</li>
                    <li class="list-group-item"><h6 class="font-weight-bold">Contact:</h6>@Model[i].CustomerVMContactNo</li>
                    <li class="list-group-item">
                        <h6 class="font-weight-bold">Address:</h6>
                        @Model[i].CustomerVMDistrict , @Model[i].CustomerVMSubDistrict ,
                        @Model[i].CustomerVMArea , Road- @Model[i].CustomerVMRoadNo , House- @Model[i].CustomerVMRoadNo
                    </li>

                }
            </ul>
        </div>
        <div class="col-6">
            <ul class="list-group">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li class="list-group-item active font-weight-bold border-right"><i class="mdi mdi-truck-delivery"></i>&nbsp;Order Info</li>                   
                    <li class="list-group-item"><h6 class="font-weight-bold">Shipping by:</h6>@Model[i].ShippingVMMethod</li>
                    <li class="list-group-item"><h6 class="font-weight-bold">Payment by:</h6>@Model[i].PaymentVMMethod</li>
                    <li class="list-group-item">
                        <h6 class="font-weight-bold">Ordered date:</h6>@Model[i].OrderPlacedVMDate
                        <h6 class="font-weight-bold">Delivered date:</h6>@Model[i].DeliveredVMDate
                    </li>
                }
            </ul>
        </div>
        <div class="col-12 mt-2">
            <ul class="list-group">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <li class="list-group-item active font-weight-bold border-right text-center"><i class="mdi mdi-shopping"></i>&nbsp;Product Details</li>

                    <li class="list-group-item">
                        <div class="table-responsive text-center">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th class="font-weight-bold">Product</th>
                                        <th class="font-weight-bold">Quanity</th>
                                        <th class="font-weight-bold">Sub-total</th>
                                        <th class="font-weight-bold">Complain</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model[i].productInventory_VM.productInventoryVMs)
                                    {
                                        <tr>
                                            <td class="align-middle">@item.NameVM</td>
                                            <td class="align-middle">@item.QuantityVM</td>
                                            <td class="align-middle">@item.EachPriceVM</td>
                                            @if (item.ComplaintDescriptionVM != null)
                                            {
                                                <td class="align-middle">@item.ComplaintDescriptionVM</td>
                                            }
                                            else if (item.ComplaintDescriptionVM == null)
                                            {
                                                <td class="align-middle font-italic">*Not specified*</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>